<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>java</servlet-name>
        <servlet-class>ViewCategory.java</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEmp</servlet-name>
        <servlet-class>com.raushan.controllers.AddEmp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateEmpForm</servlet-name>
        <servlet-class>com.raushan.controllers.UpdateEmpForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateEmp</servlet-name>
        <servlet-class>com.raushan.controllers.UpdateEmp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteEmp</servlet-name>
        <servlet-class>com.raushan.controllers.DeleteEmp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEmployee</servlet-name>
        <servlet-class>com.raushan.controllers.AddEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmpEditForm</servlet-name>
        <servlet-class>com.raushan.controllers.EmpEditForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewEmployee</servlet-name>
        <servlet-class>com.raushan.controllers.ViewEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsersDAO</servlet-name>
        <servlet-class>com.raushan.dao.UsersDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindAllByEmp</servlet-name>
        <servlet-class>com.raushan.controllers.FindAllByEmp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindByEmpno</servlet-name>
        <servlet-class>com.raushan.controllers.FindByEmpno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ascending</servlet-name>
        <servlet-class>com.raushan.controllers.Ascending</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Descending</servlet-name>
        <servlet-class>com.raushan.controllers.Descending</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>countEmp</servlet-name>
        <servlet-class>com.raushan.controllers.countEmp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>countEmpJob</servlet-name>
        <servlet-class>com.raushan.controllers.countEmpJob</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>higestSalary</servlet-name>
        <servlet-class>com.raushan.controllers.higestSalary</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindAllDeptno</servlet-name>
        <servlet-class>com.raushan.controllers.FindAllDeptno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindByJob</servlet-name>
        <servlet-class>com.raushan.controllers.FindByJob</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TopFiveSalEmp</servlet-name>
        <servlet-class>com.raushan.controllers.TopFiveSalEmp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>lowestFiveEmp</servlet-name>
        <servlet-class>com.raushan.controllers.lowestFiveEmp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AvgSal</servlet-name>
        <servlet-class>com.raushan.controllers.AvgSal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AvgByJob</servlet-name>
        <servlet-class>com.raushan.controllers.AvgByJob</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AvgByDeptno</servlet-name>
        <servlet-class>com.raushan.controllers.AvgByDeptno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SumSal</servlet-name>
        <servlet-class>com.raushan.controllers.SumSal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SumSalByDeptno</servlet-name>
        <servlet-class>com.raushan.controllers.SumSalByDeptno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SumSalByJob</servlet-name>
        <servlet-class>com.raushan.controllers.SumSalByJob</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindAllSal</servlet-name>
        <servlet-class>com.raushan.controllers.FindAllSal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>lowestSalEmp</servlet-name>
        <servlet-class>com.raushan.controllers.lowestSalEmp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginCheck</servlet-name>
        <servlet-class>com.raushan.controllers.loginCheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterControl</servlet-name>
        <servlet-class>com.raushan.controllers.RegisterControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Forgotpwd</servlet-name>
        <servlet-class>com.raushan.controllers.Forgotpwd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NavDAO</servlet-name>
        <servlet-class>com.raushan.dao.NavDAO</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>java</servlet-name>
        <url-pattern>/java</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEmp</servlet-name>
        <url-pattern>/AddEmp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateEmpForm</servlet-name>
        <url-pattern>/UpdateEmpForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateEmp</servlet-name>
        <url-pattern>/UpdateEmp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteEmp</servlet-name>
        <url-pattern>/DeleteEmp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEmployee</servlet-name>
        <url-pattern>/AddEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmpEditForm</servlet-name>
        <url-pattern>/EmpEditForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewEmployee</servlet-name>
        <url-pattern>/ViewEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsersDAO</servlet-name>
        <url-pattern>/UsersDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindAllByEmp</servlet-name>
        <url-pattern>/FindAllByEmp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindByEmpno</servlet-name>
        <url-pattern>/FindByEmpno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ascending</servlet-name>
        <url-pattern>/Ascending</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Descending</servlet-name>
        <url-pattern>/Descending</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>countEmp</servlet-name>
        <url-pattern>/countEmp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>countEmpJob</servlet-name>
        <url-pattern>/countEmpJob</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>higestSalary</servlet-name>
        <url-pattern>/higestSalary</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindAllDeptno</servlet-name>
        <url-pattern>/FindAllDeptno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindByJob</servlet-name>
        <url-pattern>/FindByJob</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TopFiveSalEmp</servlet-name>
        <url-pattern>/TopFiveSalEmp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>lowestFiveEmp</servlet-name>
        <url-pattern>/lowestFiveEmp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AvgSal</servlet-name>
        <url-pattern>/AvgSal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AvgByJob</servlet-name>
        <url-pattern>/AvgByJob</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AvgByDeptno</servlet-name>
        <url-pattern>/AvgByDeptno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SumSal</servlet-name>
        <url-pattern>/SumSal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SumSalByDeptno</servlet-name>
        <url-pattern>/SumSalByDeptno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SumSalByJob</servlet-name>
        <url-pattern>/SumSalByJob</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindAllSal</servlet-name>
        <url-pattern>/FindAllSal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>lowestSalEmp</servlet-name>
        <url-pattern>/lowestSalEmp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginCheck</servlet-name>
        <url-pattern>/loginCheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterControl</servlet-name>
        <url-pattern>/RegisterControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Forgotpwd</servlet-name>
        <url-pattern>/Forgotpwd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NavDAO</servlet-name>
        <url-pattern>/NavDAO</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
